.expander {
    font-size: large;
    line-height: 1.4;
    width: 600px;
}

.hide {
    display: none;
}

span:hover {
    background: gold;
}

.fragment {
    border: 1px solid;
}

pre {
    font-family: georgia;
    white-space: pre-wrap;
}
